<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Suites Menu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Snacks", "Index", "Product", new { catagory = "snack"},null)</li>
                    <li>@Html.ActionLink("Main Dishes", "Index", "Product", new { catagory = "main" }, null)</li>
                    <li>@Html.ActionLink("Beverages", "Index", "Product", new { catagory = "beverage" }, null)</li>
                    <li>@Html.ActionLink("Packages", "Index", "Package")</li>
                </ul>

                @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "search" }))
                {
                    @Html.TextBox("searchTerm")
                    <input type="submit" value="Search By Product Name" />
                }

            <!--form action="/Product/" method="get">
                <input type="search" name="searchTerm"/>
                <input type="submit" value="Search By Product Name" />
            </form-->

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    <div>
            @Html.Action("BestProduct", "Product")
    </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <div>@RenderSection("featured", false)</div><!--Trying out a subview-->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
